name: SwiftLayout

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  test-ios:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "26.0.1"

      - name: Build & Test
        run: |
          xcodebuild \
            -scheme SwiftLayout \
            -sdk iphonesimulator \
            -destination "platform=iOS Simulator,name=iPhone 17,OS=26.0.1" \
            -skipPackagePluginValidation \
            test
