name: SwiftLayout

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  test-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - id: sim
        uses: futureware-tech/simulator-action@v4
        with:
          os: iOS
          model: 'iPhone 16'
          os_version: '>=17.0'
          wait_for_boot: true
          shutdown_after_job: true
          
      - name: Build & Test
        run: |
          xcodebuild \
            -scheme SwiftLayout \
            -destination "id=${{ steps.sim.outputs.udid }}" \
            -skipPackagePluginValidation \
            test
